/*
#addmenupaket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid red;
    
    menuharian {
        width: 90%;
        height: 100%;
    }
   
    #form_main{
        width: 80%;
        height: 100%;
        overflow-y: scroll;
        
        #upper_wrapper {
            width: 100%;
            text-align: left;
            
            #button_cancel {
                font-size: 2em;
                margin: 1%;
                background-color: graytext;
                color: white;
            }
            margin-bottom: 1%;
        }
        
        #label_menuname, #label_menudetail, #label_menumemo, #label_harga, #label_minorder, #label_tag {
            margin: 1%;
            width: 95%;
        }

        #input_menuname, #input_menudetail, #input_menumemo, #input_harga, #input_minorder, autocomplete {
            width: 95%;
            margin: 1%;
            height: 3em;
        }
        
        autocomplete {
            display: block;
        }
        
        #button_menuharian {
            font-size: 2em;
        }
        
        #lower_wrapper {
            display: flex;
            width: 100%;
            align-items: center;
            #label_image {
                button {
                    background-color: turquoise;
                    color: white;
                    font-size: 2em;
                    margin: 1%;
                }
            }
            #input_image {
                display: none;
            }
            #input_fakefile {
                margin: 1%;
            }
            #image_preview {
                width: 4em;
                height: 4em;
                margin: 1%;
            }
        }
        
        #submit_wrapper {
            width: 100%;
            text-align: right;
            
            #button_submit {
                font-size: 2em;
                background-color: dodgerblue;
                color: white;
            }
        }        
    }        
}*/


#addmenupaket {
/*    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid red;*/
    
/*    menuharian {
        width: 90%;
        height: 100%;
    }*/
    
    #upper_wrapper {            
        #button_cancel {
            margin: 1%;
        }
        margin-bottom: 1%;
    }
   
    #form_main{
        margin: 1%;
        width: 80%;
        overflow-y: scroll;   
        
        .form-group {
            margin-top: 2rem;
        }
        
        autocomplete {
            display: block;
        }
        
        #button_menuharian {
            margin-top: 2rem;
            font-size: 1.5rem;
        }

        #inputfile_wrapper {
            #image_preview {
                width: 6rem;
                height: 6rem;
                margin: 1%;
            }
        }
        
        #submit_wrapper {
            width: 100%;
            text-align: right;
            
            #button_submit {
/*                font-size: 2rem;
                background-color: dodgerblue;
                color: white;*/
            }
        }        
    }        
}

