
/*#menupaket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    
    #header {
        width: 100%;
        #left_header {
            width: 100%;
            h1, button {
                margin-left: 20%;
            }
            
            button{
                font-size: 2em;
                background-color: lightskyblue;
                color: white;
            }
        }
    }    
            
    #list_menupaket {
        display: flex;
        orientation: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60%;

        .area_menupaket {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 30%;
            height: 90%;
            margin: 1%;
            border: 1px solid black;
            
            label {
                width: 100%;
            }
            
            img {
                flex-grow: 1;
                width: 100%;
                height: 50%;
            }
            
            .area_menudetail {
                width: 100%;
                height: 20%;
                overflow-y: scroll;
                margin-top: 1%;
                margin-bottom: 1%;
            }
            
            .area_lowerimage {
                margin-left: 2em;

                .button_edit, .button_delete {
                    font-size: 1.5em;
                }
                
                .button_edit {
                    background-color: orange;
                    color: white;
                }
                
                .button_delete {
                    background-color: red;
                    color: white;
                }
                
            }
         }
    }
    
    #pagenumber_area {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin: 1%;
        margin-right: 3em;
    }
}*/


#menupaket {    
    #header {
        width: 100%;
        margin-bottom: 2rem;
        #left_header {
            width: 100%;
            h1, button {
                margin-left: 20%;
            }
            
/*            button{
                font-size: 2em;
                background-color: lightskyblue;
                color: white;
            }*/
        }
    }    
            
    #list_menupaket {
/*        display: flex;
        orientation: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60%;*/

        .area_menupaket {
/*            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;*/
            height: 24rem;
            margin: 1%;
            
/*            label {
                width: 100%;
            }*/
            
            img {
/*                flex-grow: 1;
                width: 100%;
                height: 50%;*/
                height: 12rem;
                width: 100%;
            }
            
            .area_menudetail {
                height: 6rem;;
                overflow-y: scroll;
                margin-bottom: 0.75rem;
            }/*
            
*/            
/*            .area_lowerimage {
                margin-left: 2rem;

                .button_edit, .button_delete {
                    font-size: 1.5rem;
                }
                
                .button_edit {
                    background-color: orange;
                    color: white;
                }
                
                .button_delete {
                    background-color: red;
                    color: white;
                }
                
            }*/
         }
    }
    
    #pagenumber_area {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin: 1%;
        margin-right: 3rem;
    }
}